<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <!-- <form action="/student/signup" method="post">
        Name:<input type="text" name="username" required>
        <br>
        Pass:<input type="text" name="password" required>
        <br>
        Confirm Pass:<input type="password" name="confirmPassword">
        <br>
        <button type="submit"> SUBMIT </button>
    </form> -->

    <div class="login-form">
    <form class="form" action="/student/signup" method="post">
      <h2>Student Signup</h2>

      <label for="username">Name</label>
      <input type="text" name="username" id="username" placeholder="Enter your name" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter password" required>

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" required>

      <button type="submit" class="signup-button">Sign Up</button>
    </form>
  </div>
</body>
</html>